.main-container{
    background-color: lightgrey;
    height: 1800px;
    width: 941px;
    margin: 50px auto 0 auto;
    padding-top: 90px;
    border-radius: 25px;
}
.child-text{
    width: 700px;
    height: 900px;
    margin: 0 auto;
    text-align: center;
    font-size: 64px;
}

.h:nth-child(n){
	margin-top: 20px;
}

.h:nth-child(2){
	font-size: 30px;
}
.h:nth-child(3){
	font-size: 29px;
}
.h:nth-child(4){
	border:1px #80808038 groove;
	font-size: 20px;
	border-radius: 9px;
}

.image-border{
	width: 700px;
    height: 520px;
    border:1px #80808038 groove;
    margin-top: 30px;
    border-radius: 9px;
}
.image-border img{
	height: 450px;
	border-radius: 50%;
	width: 389px;
}
.image-border h3{
	background-color: #9b9b9bbd;
	text-align: center;
	font-size: 19px;
    height: 40px;
    padding-top: 8px;
    margin-top: 13px;
}
.list{
	width: 700px;
    height: 848px;
    margin-top: 57px;
    font-size: 20px;
    text-align: left;
}
.list li{
	margin-top: 6px;
	list-style-type: circle;
}
